## **4. Data Structures**   
---
Objective: Understand and work with Python's in-built data structures

### **4.1 Lists**  
A list is a collection of ordered items, which are changeable (mutable). Lists are created using square brackets: `[ ]`  
Properties of a list include:


*   Ordered
*   Mutable  
*   Supports various data types

#### **Exercise I**

In [ ]:
# create a list of your favorite foods

**Items in a list are accessed using the index**

In [ ]:
list_1 = [10, 20, 30, 40, 50]

# access the second item in the list
print(list_1[1])

In [ ]:
# get the last item in list_1

list_1[-1]

#### **4.1.1 List Methods**  

**Common Methods:**
- `append()`

- `extend()`

- `insert()`

- `remove()`

- `pop()`

- `index()`

- `count()`

- `sort()`

- `reverse()`

- `copy()`

In [ ]:
# example list
african_countries = ["Africa", 100, "Nigeria", "Senegal", 20, 30, 40, 50, 7, 6, 5]

In [ ]:
# append() method
african_countries.append("Ghana")  # add the string "Ghana" to the list
african_countries

In [ ]:
# extend() method
african_countries.extend(["Mali", "Egypt"])
print(african_countries)

In [ ]:
# insert() method
african_countries.insert(2, "Ghana")
print(african_countries)

In [ ]:
# remove() method
african_countries.remove(30)
print(african_countries)

In [ ]:
# reverse() method
african_countries.reverse()
print(african_countries)

#### **4.1.2 Membership Operators**  
  - These are used to check if an item is found in a data structure
  - The return output is a boolean  
  - The operators are `in` and `not in`

In [ ]:
# create list of tutorial attendees
attendees = []

# check membership of person
person_1 = "Kofi"
person_2 = "Ama"

# checking
print(person_1 in attendees)
print(person_2 not in attendees)

### **4.2 Tuples**  

A **tuple** is a collection of items with the following properties:  
- Ordered   
- Immutable (items cannot be added or removed once a tuple is created)
- Can hold different data types or data structures.  

Tuples are created using the parenthesis `()` or `tuple()`

In [ ]:
# create a tuple
tuple_1 = (1, 2, 3, 4, 5, 5, 3, 4, 5, 17, 33, 29, 56, 11, 2, 3, 44, 2, 5, 22, 71)
print(tuple_1)

(1, 2, 3, 4, 5, 5, 3, 4, 5, 17, 33, 29, 56, 11, 2, 3, 44, 2, 5, 22, 71)

In [ ]:
tuple_2 = (2,)

print(type(tuple_2))

<class 'tuple'>

**Common Methods**  
- `count`

- `index`

In [ ]:
# count occurrences of 5 in tuple_1
tuple_1.count(5)

In [ ]:
# find the index of an item in tuple_1
tuple_1.index(33)

### **4.3 Sets**

Sets are unordered collections of unique items with the following properties  

- Unordered  
- No duplicate elements  
- Mutable, only for adding/removing elements  

**Common Methods**  
- `add()`

- `remove()`

- `discard()`

- `union()`

- `intersection()`

- `difference()`

- `clear()`

In [ ]:
# create a set of numbers
set_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set_1)

In [ ]:
# add an element to the set
set_1.add(11)
print(set_1)

In [ ]:
# remove an element from the set
set_1.remove(11)
print(set_1)

In [ ]:
# discard an element from the set
set_1.discard(10)
print(set_1)

In [ ]:
# create another set of even numbers and find the union

set_2 = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
print(set_1.union(set_2))

In [ ]:
# find the intersection of the two sets
print(set_1.intersection(set_2))

In [ ]:
# find the difference of the two sets
print(set_1.difference(set_2))

In [ ]:
# clear all elements from the list
set_1.clear()
print(set_1)

### **4.4 Dictionaries**  

A dictionary in python is a data structure that stores data in **key-value** pairs.  

Dictionaries are mutable, and have unique keys.  

**Common Methods**  
- `keys()`
- `values()`
- `update()`
- `items()`
- `get()`
- `clear()`.

In [ ]:
# create a dictionary of school supplies
shopping_cart = {'pens':50, 'pencils':100,
              'notebooks':200, 'ruler':150,}

print(shopping_cart)

In [ ]:
# get all keys from the dictionary
shopping_cart.keys()

In [ ]:
# get all values frm the dictionary
shopping_cart.values()

In [ ]:
# get all items(key-value pairs) from the dictionary
all_items = shopping_cart.items()
print(all_items)

In [ ]:
# retrieve the value of an item in the dictionary
notebooks_cost = shopping_cart.get('notebooks')
print(notebooks_cost)

In [ ]:
# update the dictionary with new items
shopping_cart.update({'school bag': 300, 'textbooks':500})
print(shopping_cart)

In [ ]:
# clear all items from the dictionary
shopping_cart.clear()
print(shopping_cart)

### **4.5 Type Casting**  

This is the process of converting an object from one data type to another.  

**Examples:**
- List to Tuple: `tuple(list_1)`
- Tuple to List: `list(tuple_1)`
- List to Set: `set(list_1)`
- Dictionary Keys to List: `list(shopping_cart.keys())`

In [ ]:
# convert list_1 to a tuple
# list_1 = [10, 20, 30, 40, 50]
tuple_1 = tuple(list_1)
print(tuple_1)

In [ ]:
# convert tuple_1 into a list
tuple_1 = (10, 20, 30, 40, 50)
list_1 = list(tuple_1)
print(list_1)

In [ ]:
# create list_2 and convert into a set
list_2 = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
set_1 = set(list_2)
print(set_1)

In [ ]:
# convert keys in shopping_cart into a list
# shopping_cart = {'pens':50, 'pencils':100, 'notebooks':200, 'ruler':150}
list_keys = list(shopping_cart.keys())
print(list_keys)

## **5. Control Flow**   
---

Control flow refers to how your program/code is executed. This follows a particular order as defined by the user.

*Imagine you're following a recipe to cook. Usually, you*  
- *do things step by step*  
- *make decisions (e.g. if the dough is too sticky, add more flour)*  
- *repeat steps (continue to stir until smooth mixture)*  

The same idea is implemented in **control flow** This helps your program, decide, repeat or skip certain actions.

### **5.1 Conditional Statements (If/else Statements)**  

We take an action/decision when a condition is met or not met.

In [ ]:
# check if a statement is true
if 10 > 5:
  print("10 is greater than 5")

#### **Exercise II**

- create variables for two numeric values and write a conditional statement of your choice

* write a program to receive an input from a user and check if the input is odd or even.

- write a program to check if a person is eligible to vote.

- write a program that checks if an item belongs to a list. If the item is in the list, the program should return the statement: "  [item] is in the [list name] "

`if-elif-else` is a form of chained conditional statement that allows us to add more conditions

In [ ]:
# if-elif-else implementation

number = int(input("Enter a number\n")) #ask user for an input

if number <= 10:
    print("Number is less than or equal to 10")

elif number >10 and number <= 20:
    print("Number is greater than 10 but less than or equal to 20")

elif number >20 and number <= 30:
    print("Number is greater than 20 but less than or equal to  30")

else:
    print("Number is greater than 30")

### **5.1.1 Nested Condition**  

Consider this as a condition in a condition.

* Check if a number is even or odd, only when it is less than 10

In [ ]:
num = int(input("Enter a number\n"))

if num > 10:
    print(f"{num} is greater than  10.")
elif num == 10:
    print(f"{num} is equal 10")
else:
    print(f"{num} is less than 10")
    if num%2 ==0:
        print(f"{num} is an even number")
    else:

        print(f"The number {num} is not even.")

#### **Mini Challenge**  

The eligible age for voting in Ghana is 18years. All adults (18 yrs and older) must have a voter's ID to be able to vote.  
Write a program to check age voter eligibilty of individuals.

### **5.2 For Loop**  

A `for` loop is used to iterate over a sequence and execute a block of code for each item in the sequence.  



```
for item in sequence:
    #code to execute
```

In [ ]:
name = "Ugene"
for letter in name:
  print(letter)

In [ ]:
# iterate over a list of numbers
nums = [2, 4, 6, 8, 10, 3, 5, 7]

for num in nums:
  print(num)

In [ ]:
# add codition to be executed after iterating over nums

for number in nums:
  if number % 2 == 0:
    print(f'{number} is an even number')
  else:
      print(f'{number} is an odd number')

In [ ]:
list_numbers = [3,12,23,4,5,7,11,9]

for number in list_numbers:
    if number >10:
        print(number)
    else:
        print(f"{number} is less than 10")

3 is less than 10
12
23
4 is less than 10
5 is less than 10
7 is less than 10
11
9 is less than 10

#### **Exercise III**

* Write a program to determine which items in the list below are prime numbers.  
Display an appropriate message if the number is prime or not.

```
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ,20, 30, 40, 50, 60, 70, 80, 90]
```

#### **Mini Challenge**

**1.**  Create a program that computes the average of a collection of values entered by the user. The user will enter 0 as a sentinel value to indicate  that no further values will be provided. Your program should display an appropriate
error message if the first value entered by the user is 0.



**2.** The dictionary below contains scores for 3 contestants in the quiz.  
Using a for loop,
* determine the total scores of each contestant.
* display the maximum score for each contestant  
* display the minimum score for each contestant.



```
scores = {"Kofi":[33,45,39,68,90],
          "Ama":[59,70,80,68,88],
          "Akua":[44,98,60,52,70]}
```

### **5.3 While Loop**  

A `while` loop is used to repeat a block of code as long as a condition is true.



```
while condition:
    # do something
```

In [ ]:
count = 1

while count <= 5:
    print("Count is:", count)
    count += 1  # add 1 each time

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5

* Check if a number is even or odd, only when it is less than 10

In [ ]:
num = int(input("Enter a number less than 10: "))

# Keep asking until the user inputs a number less than 10
while num >= 10:
    print("Number must be less than 10. Try again.")
    num = int(input("Enter a number less than 10: "))



# After user inputs number less than 10, the block below is executed
print(f"{num} is less than 10. Checking if it is even or odd...")
if num % 2 == 0:
    print(f"{num} is an even number")
else:
    print(f"The number {num} is odd")

#### **Exercise IV**

- Using a **while loop**, write a program that prints out the integers `2, 5, 8, 11, 14, 17 and 20` in that order,   
all on the same line.

* The password to your company database is `caput draconis`  
ask a user to enter a password. If it's wrong, display the message `Incorrect Password. Tyr Again`. If the right password is entered, display `Access Granted!` and stop the loop.  

  - **Bonus:**  
* Can you add a restriction to your code to allow a maximum of 5 tries?

## **6. Functions**   
---

A function is a block of code that performs a specifc task defined by the programmer.  

Instead of repeating code over and over, write it in a function and reuse it whenever you want.

#### **Key Words**  
- **ARGUMENTS:** Functions are created to accept input values. These input values are called `arguments`  

- **PARAMETERS:** Parameters are the variables(place holders) in the function.

### **6.1 Function Definition**
Functions are defined using the `def` keyword. Example:  

```
def fxn(x):
    result = 2*x + 1
    return result
```

#### **6.1.1 Parts of the Function**  
- `def` -- Function header  
- `fxn` -- Function name  
- `(x)` -- function parameter  
- `result = 2*x + 1` -- Function body  
- `return result` -- The return statement which has the `return` keyword. This makes the function keep the result for itslef for later reuse.

- `Docstrings` -- Documentation strings provide descriptions of the function and how to use them. Docstrings are accessed using the `help()` python function.

In [ ]:
# creating a mathematical function
def fxn(x):
    result = 2*x + 1
    return result

In [ ]:
fxn(4)

In [ ]:
# greeting function for tutorial participants
def tutorial():
  '''
  This program greets tutorial participants
  '''
  student_name = input("Enter your name: ")
  tutorial_name = input("Enter tutorial name")
  location = "Ashesi University"

  print(f"Welcome {student_name}, to the IndabaX 2025 {tutorial_name} tutorial at {location}")

In [ ]:
type(tutorial)

In [ ]:
help(tutorial)

In [ ]:
tutorial()  # calls the function

#### **6.1.2 Inputs from a User**  

- The `input()` function is used to receive an input from the user, ready to be evaluated.  

- The `input()` function always returns a string

In [ ]:
# example
name = input("Enter your name: ")
print(type(name))

Enter your name: ugene
<class 'str'>

### **6.2 Variable Scope**  
*This refers to the portion of a program that a variable can be referenced. We have the local variable and the global variable*  

- **Local Variable:** This is a variable that is defined within the function and can be accessed only within the function.

- **Global Variable:** A variable defined outside a function and can be accessed in any part of the program.

In [ ]:
num = 5 #Global variable

def display():
    num = 10  #local variable
    print(f"The number is {num}")

In [ ]:
display()

#### **Exploring Positional Arguments**

In [ ]:
# function for bmi
def bmi(weight, height):
  return weight / height**2

In [ ]:
bmi(55,1.76)

In [ ]:
bmi(1.76,55)

*The concept of positional argument reveals that the position of arguments placed in a function is important and can affect the output/result returned.*

#### **Exercise V**

Create a simple calculator function that performs the basic operations: addition: `+`, subtraction ` -`, multiplication `×` and division `/`.  

  Your function should return **"invalid operator"** if any other operator is used.

### Mini Challenge


Write a program that computes the body mass index (BMI) of an individual.
- Your program should begin by reading a height and weight from the user.  
- Next, it should use one of the following two formulas to compute the BMI before displaying it.  
- If the height is in inches and the weight is in pounds, then the body mass index is computed using the formula:  
$$BMI = \frac{weight}{height^2} \times 703$$  
- If the height is in meters and the weight is in kilograms, then the body mass index is computed using the formula thing:  
$$BMI = \frac{weight}{height^2}$$  

- **bonus**: *Can you handle cases where the units are in a mix? For example, when a user provides his/her weight in kilograms and height in inches*

### Mini Challenge  

Below is a description of how to find the Easter date of any year. Write a function called `easter()` that  
takes any year and returns a string with the Easter date in that year. _**Despite its intimidating appearance,
this is not a hard problem.**_   
Note that
$⌊x⌋$ is the *`floor`* function, which for positive numbers: just drops
the decimal part of the number.  
In Python $⌊\frac{x}{y}⌋$ is $x // y.$  

Variables Involved:

- $C =  century \hspace{0.1cm} (1990s → C = 19)$  
- $Y =  year \hspace{0.1cm} (all \hspace{0.1cm}four \hspace{0.1cm}digits) $
- $m = (15 + C - ⌊\frac{C}{4}⌋ - ⌊\frac{8C + 13}{25}⌋ ) \hspace{0.1cm} mod \hspace{0.1cm}30$  
- $n = (4 + C - ⌊\frac{C}{4}⌋ ) \hspace{0.1cm} mod \hspace{0.1cm} 7$  
- $a = Y \hspace{0.1cm} mod \hspace{0.1cm} 4$  
- $b = Y \hspace{0.1cm} mod \hspace{0.1cm} 7$  
- $c = Y \hspace{0.1cm} mod \hspace{0.1cm} 19$  
- $d = (19c + m) \hspace{0.1cm} mod \hspace{0.1cm} 30$
- $e = (2a + 4b + 6d + n) \hspace{0.1cm} mod \hspace{0.1cm} 7$  

Easter is either **March** $(22 + d + e)$ or **April** $(d + e - 9)$. There is an exception if $d = 29$ and $e = 6$.   
In this case, Easter falls one week earlier on April 19. There is another exception if $d = 28$ and $e = 6$, and $m = 2, 5, 10, 13, 16, 21, 24, or \hspace{0.1cm}39.$   
In this case, Easter falls one week earlier on April 18.

## **Be Bold. Be Creative.**  
This section entails challenges for all participants to try hands on.  

These are designed to test your creativity and problem solving using the concepts discussed in this tutorial.  

_All Hands!_

### **1. The Leap Year Test**  

The rules for determining whether or not a year is a leap year is as follows:  
• Any year that is divisible by 400 is a leap year.  
• Of the remaining years, any year that is divisible by 100 is not a leap year.  
• Of the remaining years, any year that is divisible by 4 is a leap year.  
• All other years are not leap years.  

Write a program that reads a year from the user and displays a message indicating
whether or not it is a leap year.

### **2. Troski ProMax**  

In Accra, trotro (troski) fares vary based on distance, destination and sometimes, road conditions. You are required to help design a small system  
for a troki startup seeking to reshape troski operations in Accra.  
The startup plans to introduce autonomous public transport services, where users/passengers book rides in advance.

System Requirements:  
Designed for the users/passengers, the System should.  
- Receive the user's name and display a wlecome message
- Show a list of available destinations with their fares  
- Take the user's destination and number of passengers
- Calculate the total fare for the user  
- Apply discounts for students and Children  
- Resturn a final summary of the trip

### **3. Chop Bar Menu Simulator**  

Create a chop bar menu system that displays the available menu, takes orders of customers and prints out the total bil.

# TUTORIAL FEEDBACK
![Day2_feedback.png]()