


---



# **INTRODUCTION TO PYTHON**  
---

## **0. History of Python**


*   **Creator:** Guido Van Rossum (Dutch Programmer)
*   **First Release (1.0):**  February 1991
*   **Origin:** Developed as a successor to the ABC language while Van Rossum was at Centrum Wiskunde & Informatica (CWI) in the Netherlands
*   **Philosphy:** Emphasizes code readability (like English), simplicity, ease of learning, and open source.
*   **Fun Fact:** Python is Named after the British comedy group *Monty Python* (of which Van was a fan), not the snake!

### **0.1 Applications of Python Programming**  

_Python is a high-level programming language, widely used in AI, Data science, web development, and more_  

**Some Benefits**  
- Simple and easy to read (like English)  
- Has extensive libraries for various applications  
- Presence of a strong community ready to support you!

### **0.2 Basic Rules**  

**Python Suntax**  
_Python syntax is designed to be clean and readable. Key sytanx rules include:_  



1.   Statements are written **line by line** - codes are executed line by line (from top to bottom)  
2.   Python uses indentation (spaces or tabs) at the beginning of a line of code to define its scope. Other languages use braces: `{}` and so on.
3.   Comments are written using `#` at the beginning of the line. Triple quotes `'''` are used for multiline statements. Both are useful for code documentation.  
4.   Python is case-sensitive hence, `Ghana` and `ghana` are not the same.
5. Variables are dynamically typed; hence, there is no need to explicitly declare its type like how Java does it.

## **1. Understanding Variables and Data Types**

### Your Personal Details as Variables  
In this section, we introduce create variables, using our personal information such as name, date of birth, location, email, age, etc.

**Definition 1.1**  
A **VARIABLE** to a name given to a piece of data to which we can refer to later. E.g `x = 2`  

---


**Definition 1.2**  
**DATA TYPES** refer to the kind of value a variable holds  

---

The **assignment Operator**  `=` is used to assign a value to a variable

### **1.1 Data Types in Python**

**An INTEGER is a number that isn't a fraction/decimal. This data type is a whole  number. It is represented as `int` in Python.**

In [ ]:
# Integer data type
x = 2   #setting a variable
print(x)  #display the variable
print(type(x))   #display the data type of variable

**A FLOAT is a number with decimals. Represented as `float` in Python.**

In [ ]:
# float data type
y = 2.0
print(y)
print(type(y))

**A STRING is a data type that has a squence of characters represented as texts. Stings are denoted by quotes: `" "` or `' '`. Strings are represented as `str` in python.**

In [ ]:
# string data type
z = "Ghana"
print(z)
print(type(z))

**A BOOLEAN is a data type that has one of two possible values: `True (1)` or `False (0)`. Represented as `bool` in Python.**

In [ ]:
# boolean data type
a = True
print(a)
print(type(a))

other data types include:  
`list`, `Dictionary`, `Set`, `tuple`, `NoneType`

### **1.2 Rules for Creating/Declaring Variables**

- Variable names cannot have spaces in them. E.g: `first name` and `my age` are invalide variable names.  

- Variable names can begin with a letter or an underscore `_` and can be followed by any combination of letters, digits, and underscores. You cannot begin with a digit!.

- Variable names are case-sensitive meaning `X` and `x` are considered as different variables.

- Variable names should be meaningful and descriptive, it makes it easier to understand the code and to debug it.

- Variable names cannot be reserved words. These are words that have been specially reserved by Python. Examples: `if`, `else`, `def`, `for`, `Class`, etc.

### **1.3 Tasks**

1.1. Create Variables for your personal details: name, age, location, etc.

1.2 Display the information stored (use print satement)

1.3 Change/convert your names from  lowercase to uppercase

## **2. Basic Operation in Python**  



*   Use basic arithmetic operations
*   Perform calculations with variables

**Arithmetic Operators**

|Operator||Action|
|----||----|
|+||addition|
|-||subtraction|
|*||multiplication|
|/|| division|
|\**||exponential|
|%||modulo|
|\//|| integer division|

In [ ]:
#addition
x = 3
y = 48

z = x + y
print(z)

In [ ]:
# subtraction
x = 45
y = 30

s = x - y
print(s)

In [ ]:
# exponntial
x = 2
y = 3

z = x ** y
print(z)

In [ ]:
# modulo
a = 14
b = 2
c = a % b
print(c)

### **2.1 Tasks**

2.1.1  
Can you identify the difference between division `/`   
and integer division `//` in python?

2.1.2 Convert your age into months

2.1.3 Convert your height to another unit.

## **3. Working with Strings**

*   Combine strings (concatenation)
*   Use `f-strings` for formatting  
*   Apply common string methods: (`.lower()`, `.upper()`, `.title()`, `.strip()`, `.replace()`)

### **3.1 String Concatenation**

In [ ]:
name = "Kofi Kinaata"
greeting = "Welcome to python programming!"

print("Hello!" + " " + name + " " + greeting)

# name = "Kofi"
# message = "Welcome to python programming!"
# greet = name + " " + message
# print(greet)

### **3.2 f-Strings (Formatted Strings)**  

_This is a more convenient way to handle string formatting.*_*

In [ ]:
first_name = "Jack"
last_name = "Sparrow"
occupation = "Pirate Captain"
vessel = "Black Pearl"

# display a greeting message
print(f"Hello {first_name} {last_name}! \nYou are a {occupation} of the {vessel}!")

Hello Jack Sparrow!
You are a Pirate Captain of the Black Pearl!

### **3.3 Common String Methods**

In [ ]:
# upper() method: converts to uppercase
message = "Welcome to python programming!"
print(message.upper())

In [ ]:
# lower() method: converts to lowercase
message = "Welcome to PYTHON programming!"
print(message.lower())

In [ ]:
# title() method: Gives strings a title-case
message = "Welcome to python programming!"
print(message.title())

Welcome To Python Programming!

In [ ]:
# strip() method: removes spaces before/after texts
message = " Welcome to python programming! "
print(message.strip())

In [ ]:
# replace() method: replaces part of string
message = "Welcome to python programming!"
print(message.replace("python", "Python"))

### **3.4 TASKS**

3.4.1  
Use concatenation to display a personlized message of your choice

3.4.2  
Using formatted strings, perform the same task.

3.4.3  
Using your user bio created at the beginning of the lesson, display your user information in a short paragraph of your choice. Explore how to write statements on a new line.

## **4. Data Structures**  
Objective: Understand and work with Python's in-built data structures

### **4.1 Lists**  
A list is a collection of ordered items, which are changeable (mutable). Lists are created using square brackets: `[ ]`  
Properties of a list include:


*   Ordered
*   Mutable  
*   Supports various data types

In [ ]:
# create a list of your favorite foods

**Items in a list are accessed using the index**

In [ ]:
list_1 = [10, 20, 30, 40, 50]

# access the second item in the list
print(list_1[1])

#### **4.1.1 List Methods**  

**Common Methods:**
- `append()`, `extend()`, `insert()`, `remove()`, `pop()`, `index()`, `count()`, `sort()`, `reverse()`, `copy()`

In [ ]:
# example list
african_countries = ["Africa", 100, "Nigeria", "Senegal", 20, 30, 40, 50, 7, 6, 5]

In [ ]:
# append() method
african_countries.append("Ghana")  # add the string "Ghana" to the list
african_countries

In [ ]:
# extend() method
african_countries.extend(["Mali", "Egypt"])
print(african_countries)

In [ ]:
# insert() method
african_countries.insert(2, "Ghana")
print(african_countries)

In [ ]:
# remove() method
african_countries.remove(30)
print(african_countries)

In [ ]:
# reverse() method
african_countries.reverse()
print(african_countries)