## **4. Data Structures**  
Objective: Understand and work with Python's in-built data structures

### **4.1 Lists**  
A list is a collection of ordered items, which are changeable (mutable). Lists are created using square brackets: `[ ]`  
Properties of a list include:


*   Ordered
*   Mutable  
*   Supports various data types

In [ ]:
# create a list of your favorite foods

**Items in a list are accessed using the index**

In [ ]:
list_1 = [10, 20, 30, 40, 50]

# access the second item in the list
print(list_1[1])

In [ ]:
# get the last item in list_1

list_1[-1]

#### **4.1.1 List Methods**  

**Common Methods:**
- `append()`, `extend()`, `insert()`, `remove()`, `pop()`, `index()`, `count()`, `sort()`, `reverse()`, `copy()`

In [ ]:
# example list
african_countries = ["Africa", 100, "Nigeria", "Senegal", 20, 30, 40, 50, 7, 6, 5]

In [ ]:
# append() method
african_countries.append("Ghana")  # add the string "Ghana" to the list
african_countries

In [ ]:
# extend() method
african_countries.extend(["Mali", "Egypt"])
print(african_countries)

In [ ]:
# insert() method
african_countries.insert(2, "Ghana")
print(african_countries)

In [ ]:
# remove() method
african_countries.remove(30)
print(african_countries)

In [ ]:
# reverse() method
african_countries.reverse()
print(african_countries)

#### **4.1.2 Membership Operators**  
  - These are used to check if an item is found in a data structure
  - The return output is a boolean  
  - The operators are `in` and `not in`

In [ ]:
# create list of tutorial attendees
attendees = []

# check membership of person
person_1 = "Kofi"
person_2 = "Ama"

# checking
print(person_1 in attendees)
print(person_2 not in attendees)

### **4.2 Tuples**  

A **tuple** is a collection of items with the following properties:  
- Ordered   
- Immutable (items cannot be added or removed once a tuple is created)
- Can hold different data types or data structures.  

Tuples are created using the parenthesis `()` or `tuple()`

In [ ]:
# create a tuple
tuple_1 = (1, 2, 3, 4, 5, 5, 3, 4, 5, 17, 33, 29, 56, 11, 2, 3, 44, 2, 5, 22, 71)
print(tuple_1)

**Common Methods**  
`count`, `index`

In [ ]:
# count occurrences of 5 in tuple_1
tuple_1.count(5)

In [ ]:
# find the index of an item in tuple_1
tuple_1.index(33)

### **4.3 Sets**

Sets are unordered collections of unique items with the following properties  

- Unordered  
- No duplicate elements  
- Mutable, only for adding/removing elements  

**Common Methods**  
`add()`, `remove()`, `discard()`,

`union()`, `intersection()`, `difference()`, `clear()`

In [ ]:
# create a set of numbers
set_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set_1)

In [ ]:
# add an element to the set
set_1.add(11)
print(set_1)

In [ ]:
# remove an element from the set
set_1.remove(11)
print(set_1)

In [ ]:
# discard an element from the set
set_1.discard(10)
print(set_1)

In [ ]:
# create another set of even numbers and find the union

set_2 = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
print(set_1.union(set_2))

In [ ]:
# find the intersection of the two sets
print(set_1.intersection(set_2))

In [ ]:
# find the difference of the two sets
print(set_1.difference(set_2))

In [ ]:
# clear all elements from the list
set_1.clear()
print(set_1)

### **4.4 Dictionaries**  

A dictionary in python is a data structure that stores data in **key-value** pairs.  

Dictionaries are mutable, and have unique keys.  

**Common Methods**  
`keys()`, `values()`, `update()`,  
`items()`, `get()`, `clear()`.

In [ ]:
# create a dictionary of school supplies
shopping_cart{'pens':50, 'pencils':100,
              'notebooks':200, 'ruler':150,}

print(shopping_cart)

In [ ]:
# get all keys from the dictionary
shopping_cart.keys()

In [ ]:
# get all values frm the dictionary
shopping_cart.values()

In [ ]:
# get all items(key-value pairs) from the dictionary
all_items = shopping_cart.items()
print(all_items)

In [ ]:
# retrieve the value of an item in the dictionary
notebooks_cost = shopping_cart.get('notebooks')
print(notebooks_cost)

In [ ]:
# update the dictionary with new items
shopping_cart.update({'school bag': 300, 'textbooks':500})
print(shopping_cart)

In [ ]:
# clear all items from the dictionary
shopping_cart.clear()
print(shopping_cart)

### **4.5 Type Casting**  

This is the process of converting an object from one data type to another.  

**Examples:**
- List to Tuple: `tuple(list_1)`
- Tuple to List: `list(tuple_1)`
- List to Set: `set(list_1)`
- Dictionary Keys to List: `list(shopping_cart.keys())`

In [ ]:
# convert list_1 to a tuple
# list_1 = [10, 20, 30, 40, 50]
tuple_1 = tuple(list_1)
print(tuple_1)

In [ ]:
# convert tuple_1 into a list
tuple_1 = (10, 20, 30, 40, 50)
list_1 = list(tuple_1)
print(list_1)

In [ ]:
# create list_2 and convert into a set
list_2 = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
set_1 = set(list_2)
print(set_1)

In [ ]:
# convert keys in shopping_cart into a list
# shopping_cart = {'pens':50, 'pencils':100, 'notebooks':200, 'ruler':150}
list_keys = list(shopping_cart.keys())
print(list_keys)

## **5. Control Flows**

## **6. Functions**

### Mini Challenge 1  

Write a program that computes the body mass index (BMI) of an individual.
- Your program should begin by reading a height and weight from the user.  
- Next, it should use one of the following two formulas to compute the BMI before displaying it.  
- If the height is in inches and the weight is in pounds, then the body mass index is computed using the formula:  
$$BMI = \frac{weight}{height^2} \times 703$$  
- If the height is in meters and the weight is in kilograms, then the body mass index is computed using the formula thing:  
$$BMI = \frac{weight}{height^2}$$  

- **bonus**: *Can you handle cases where the units are in a mix? For example, when a user provides his/her weight in kilograms and height in inches*

### Mini Challenge 2  

The rules for determining whether or not a year is a leap year is as follows:  
• Any year that is divisible by 400 is a leap year.  
• Of the remaining years, any year that is divisible by 100 is not a leap year.
• Of the remaining years, any year that is divisible by 4 is a leap year.  
• All other years are not leap years.  

Write a program that reads a year from the user and displays a message indicating
whether or not it is a leap year.